* {
    box-sizing: border-box;
}
body{
	margin: 0px;
}
.container{
	width: 100%;
	position: relative;
}
.banner-img{
	background: url(img/banner.jpg);
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 650px;
}
.banner-background-color{
    background-color: rgba(42, 38, 45, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.row{
	max-width: 100%;
	position: relative;
	height: 100px;
	display: inline;
}
.navbar{
	max-width: 100%;
	display: flex;
	padding: 40px;
	position: relative;
}
.microsoft-font{
  font-family: Microsoft YaHei UI;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.sans-serif-font{
	font-family: sans-serif;
	font-size: 17px;
	color: #fbfbfb;
}
.white-subhead{
	font-family: sans-serif;
	font-size: 20px;
	color: #aaaaaa;
	padding: 20px;
}
.navbar-right{
	display: inline-flex;
	list-style-type: none;
	text-align: center;
	margin-left: auto;
	word-spacing: 10px;
}
ul.navbar-right li{
	margin-left: 50px;
}
.white-head{
	font-size: 45px;
	color: white;
	font-family: sans-serif;
}
.banner-content{
	max-width: 100%;
	text-align: center;
	margin-top: 80px;
	height: 400px;
	position: relative;
}
.second-subhead{
	display: block;
}
.banner-pink-button{
	height: 60px;
	width: 210px;
	background-color: #f32853;
	color: white;
	padding:5px 10px;
	border: none;
	font-size: 17px;
	font-weight: bolder;
	border-radius: 3px;
	font-family: Microsoft YaHei UI;
}
@media screen and (min-device-width: 360px) and (max-device-width: 750px){
	.banner-content{
		padding: 20px;
	    max-width: 100%;
	    margin-top: 0px;
	}
	.banner-h1-btm{
		margin: 0px;
	}
	.text-size{
		font-size: 65px;
	}
	.banner-pink-button{
		width: 90%;
	    height: 66px;
	    font-size: 20px;
	    border-radius: 5px;
	}
	.banner-img{
		height: 630px;
	}
	.second-subhead{
		display: contents;
	}
	.banner-p-btm{
		line-height: 2;
    	padding: 0px;
    	margin-bottom: 35px;
    	font-size: 19px;
	}
	.navbar{
		display: inline-flex;
	}
	.navbar-right{
		display: block;
	}
}
@media screen and (min-device-width: 320px) and (max-device-width: 568px){
	.banner-content{
		margin-top: 10px;
	}
	span.white-subhead.second-subhead{
		display: contents;
	}
	.banner-pink-button{
		width: 90%;
	}
}
.section-one{
	width: 100%;
	display: flex;
}
.section-one-header{
	width: 50%;
    margin-left: 170px;	
    padding-left: 50px;
    padding-top: 50px;	
}
h1.black-head {
    margin-bottom: 0px;
}
.black-head{
	font-size: 40px;
	color: #484848;
	font-family: sans-serif;
	line-height: 1.5;
}
p.black-subhead {
    margin-top: 10px;
}
.black-subhead{
	font-family: Verdana;
	font-size: 22px;
	color: #b8b8b8;
	line-height: 1.5;
}
.section-one-content{
	width: 50%;
    padding-top: 70px;
    padding-left: 50px;
    padding-bottom: 70px;
    margin-right: 250px;	
}
.section-one-para1,.section-one-para2{
	color: #666666;
	font-family: Verdana;
	line-height: 2;	
	font-size: 14px;
}
@media screen and (min-device-width: 320px) and (max-device-width: 768px){
	.section-one{
		max-width: 100%;
		display: block;
	}
	.section-one-header{
		margin-left: 0px;
		padding-left: 40px;
		padding-bottom: 20px;
		margin-right: 0px;
		display: table-cell;
	}
	.section-one-content{
		margin-right: 0px;
	    width: 100%;
	    padding-left: 40px;
	    padding-top: 0px;
	    padding-right: 40px
	}
	.section-one-para2{
		margin-bottom: 10px;
		font-size: 20px;
	}
	.section-one-para1{
		margin-top: 0px;
		margin-bottom: 40px;
		font-size: 20px;
	}
	h1.black-head{
		font-size: 30px;
		margin-bottom: 15px;
	}
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
	.section-one-header{
		width: 50%;
	    margin-left: 0px;	
	    padding-left: 50px;
	    padding-top: 50px;	
	}
	.section-one-content {
	    padding-top: 70px;
	    padding-left: 50px;
	    padding-bottom: 70px;
	    padding-right: 40px;
	    margin-right: 0px;
	}
}
.section-two{
	width: 100%;
	background-color: #f6f6f6;
	height: 950px;
	width: 100%;
}
.section-two-header{
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}
.cards{
	max-width: 100%;
	padding: 20px;
	display: flex;
}
.left-card{
	width: 50%;
	float: left;
	margin-left: 80px;
	border: 2px solid #e5e5e5;
}
.card-img{
	width: 100%;
}
.right-card{
	width: 50%;
	float: left;
	margin-left: 35px;
	margin-right: 80px;
	border: 2px solid #e5e5e5;
}
.card-declaration{
	 padding:  15px 20px;
	 background-color: white;
}
.card-declaration-content{
	font-family: Verdana;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color: #484848;
}
.two-buttons{
	text-align: center;
	width: 100%;
	margin-top: 20px;
}
.pink-button{
	height: 60px;
	width: 210px;
	background-color: #f32853;
	color: white;
	padding: 5px 10px;
	border: none;
	font-size: 17px;
	font-weight: bolder;
	border-radius: 3px;
	font-family: Microsoft YaHei UI;
}
button.pink-button{
	margin-right: 13px;
}
.black-button{
	height: 60px;
	width: 210px;
	background-color: #323037;
	color: white;
	padding:5px 10px;
	border: none;
	font-size: 17px;
	font-weight: bolder;
	border-radius: 3px;
	font-family: Microsoft YaHei UI;
}
@media screen and (min-device-width: 320px) and (max-device-width: 768px){
	.section-two{
		max-width: 100%;
		height: 1250px;
	}
	.section-two-header{
		width: 100%;
		text-align: center;
		padding-top: 20px;
		padding-left: 20px;
		padding-bottom: 0px;
		padding-right: 20px;
	}
	.cards{
		display: grid;
	}
	.left-card{
		width: 100%;
		margin-left: 0px;
	}
	.right-card{
		width: 100%;
		margin-left: 0px;
    	margin-top: 35px;
    }
    .two-buttons{
    	display: block;
   	    width: 100%;
    }
    .black-button{
    	width: 90%;
	    height: 66px;
	    font-size: 20px;
	    border-radius: 5px;
    }
    .pink-button{
    	width: 90%;
	    height: 66px;
	    font-size: 20px;
	    border-radius: 5px;
    }
    .card-declaration-content{
    	font-size: 18px;
    }
    p.subhead-font{
    	font-size: 18px;
    }
    button.pink-button{
		margin-right: 0px;
		margin-bottom: 20px;
	}
}
.round-img-cmn{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}
.round-img-div-cmn{
	margin-top: 60px;
}
.round-img-div1 {
    width: 50%;
    float: left;
}
.round-img-head-cmn {
    width: 60%;
    float: left;
    direction: rtl;
    margin-top: 20px;
    text-align: justify;
}
.sub-head1{
	font-family: sans-serif;
	font-size: 16px;
	color: #484848;
}
h4.sub-head1{
	margin-bottom: 0px;
}
.sub-head2
{
	font-family: sans-serif;
	font-size: 14px;
	color: #b8b8b8;
}
p.sub-head2{
	margin-bottom: 25px;
}
.round-img-txt{
    color: #666666;
    font-family: Verdana;
    line-height: 2;
    font-size: 14px;
}
.round-img-imgs2 {
    width: 40%;
    float: left;
}
img.img-round-style {
    border: 7px solid #c7c7c7;
    border-radius: 50%;
    margin: auto;
    display: block;
    height: 165px;
    margin-top: 50px;
}
.round-img-head-cmn2 {
    margin-top: 40px;
}
.adjs-btm {
    margin-top: 0px;
    width: 100%;
    float: left;
}
.xs-none{
    display: block;
}
.xs-blk{
    display: none;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
.round-img-head-cmn {
    width: 50%;
    margin-top: 0px;
}
.round-img-head-cmn2{
     width: 50%;
    margin-top: 0px;
    float: left;
    margin-left: 20px;
	}
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .round-img-div1{
        width: 100%;
        float: none;
    }
    .round-img-head-cmn {
        direction: ltr;
    }
}


@media screen and (max-width: 767px){
	.round-img-head-cmn,.round-img-imgs2{
	    width: 100%;
	    float: none;
	}
	.round-img-cmn{
	    width: 100%;
	    float: none;
	}
	.round-img-txt{
		font-size: 16px;
	}
	.round-img-div1{
	    width: 100%;
	    float: none;
	}
	.round-img-head-cmn {
	        direction: ltr;
	}
	.round-img-cmn,.round-img-head-cmn{
	    text-align: center;
	    padding: 10px;
	}
	.round-img-head-cmn2 {
	    padding: 10px;
	}
	.sub-head1{
		font-size: 18px;
	}
	.sub-head2{
		font-size: 16px;
	}
	.round-img-div-cmn {
	    margin-top: 0px;
	}
	.head-adj{
	    text-align: left;
	    padding: 10px;
	}
	.xs-none{
	    display: none;
	}
	.xs-blk{
	    display: block;
	}
}
.image-section{
	background-image: url(img/banner.jpg);
	width: 100%;
	height: 375px;
	background-position: center center;  
	background-size: cover;
	position: relative;
	margin-top: 600px;
}
.image-background-color{
	position: absolute;
	background-color: rgba(42, 38, 45, 0.7);
	height: 375px;
	width: 100%;
}
h2.white-head {
    margin-bottom: 0px;
}
p.subhead-btm{
	margin-bottom: 45px;
	margin-top: 0px;
}
.image-content{
	text-align: center;
	position: absolute;
	margin-top: 50px;
	margin-left: 350px;
}
@media screen and (max-width: 414px){
	.image-content{
		margin-top: 0px;
		margin-left: 0px;
		padding: 10px;
	}
	h2.white-head{
		font-size: 27px;
	}
	p.white-subhead.subhead-btm {
    	font-size: 17px;
	}
	.image-section{
		margin-top: 1100px;
		height: 340px;
	}
	.image-background-color{
		height: 340px;
	}
}
.footer{
	height: 300px;
	background-color: #f6f6f6;
	width: 100%;
}
.fa-facebook-f,.fa-twitter,.fa-instagram{
	font-size: 40px;
	margin-left: 60px;
	color: #aaaaaa;
	margin-top: 100px;
}
.social-media{
	text-align: center;
}
.footer-content{
	text-align: center;
	margin-top: 30px; 
}
.inline-footer{
	display: inline-flex;
	list-style-type: none;
}
.border{
	margin-right: 20px;
	margin-left: 20px;
	font-size: 18px;
	color: #ababab;
	border-left: solid 2px rgba(144, 144, 144, 0.25);
}
.footer-color{
	color: #ababab;
	font-family:  sans-serif;
}
@media screen and (max-width: 414px){
	.inline-footer{
		display: block;
		padding: 0px;
	}
	.footer-content{
		margin-top: 60px;
	}
	.border{
		display: none;	
	}
	.fab{
		font-size: 30px;
	}
	.footer-color{
		margin-top: 10px;
		font-size: 20px;
	}
	.social-media{
		text-align: left;
		margin-left: 20px;
	}
	.footer{
		height: 350px;
		padding: 0px;
	}
}